.App {
  text-align: center;
}

.App-header {
  background-color: #efefef;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  /*   align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: brown;
}

#test {
  text-align: center;
  background-color: #e6dace;
  padding: 0.01%;
  width: 60%;
  margin-left: auto;
}

h1 {
  color: #160C28;
  font-family: Arial;
}